.container {
    margin: 20px;

    mat-form-field {
        display: flex;
        flex-direction: column;
        width: 200px;
        margin: bottom 30px;
        margin-right: 60px;
        margin-left: 40px;
    }

    .buttons {
        text-align: left;
    }
}