.container {
    margin: 10px;

    .filters {
        display: flex;

        mat-form-field {
            width: 300px;
            margin-right: 20px;
        }

        .buttons {
            flex: auto;
            align-self: lef;

            button {
                margin-left: 15px;
            }
        }
    }

    mat-table {
        margin-top: 10px;
        margin-bottom: 10px;
    
        .mat-header-row {
            background-color:#f5f5f5;
    
            .mat-header-cell {
            text-transform: uppercase;
            font-weight: bold;
            color: #838383;
            }      
        }
    
        .mat-column-id {
            flex: 0 0 10%;
            justify-content: center;
        }

        .mat-column-game {
            flex: 0 0 20%;
            justify-content: center;
        }

        .mat-column-client {
            flex: 0 0 20%;
            justify-content: center;
        }

        .mat-column-startDate {
            flex: 0 0 20%;
            justify-content: center;
        }

        .mat-column-endDate {
            flex: 0 0 10%;
            justify-content: center;
        }

        .mat-column-action {
            display: flex;
            justify-content: center;
        }
    
        .mat-column-action {
            flex: 0 10 10%;
            display: flex;
            justify-content: flex-start; 
        }
    }
    

    .buttons {
        text-align: right;
    }
}

button {
    width: 125px;
}