<div class="container">
    @if (client.clientId){
        <h1 style="color: white;">Modificar cliente</h1>
    } @else{
        <h1 style="color: white;">Crear cliente</h1>
    }
    
    <form>
        <mat-form-field>
            <mat-label>Identificador</mat-label>
            <input type="text" matInput placeholder="Identificador" [(ngModel)]="client.clientId" name="clientId" disabled>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Nombre</mat-label>
            <input type="text" matInput placeholder="Nombre del cliente" [(ngModel)]="client.name" name="name" required>
        </mat-form-field>
    </form>

    <div class="buttons">
        <button mat-strocked-button (click)="onClose()">Cerrar</button>
        <button mat-flat-button color="primary" (click)="onSave()">Guardar</button>
    </div>
</div>